.category_title {
  margin: 20px 0;
}
.category_tab {
  background: #F5F5F5;
  padding: 0 20px 40px;
  .category_content {
    padding: 20px 0;
    border-bottom: 1px solid #C9C9C9;
    .sub_items {
      margin: 10px 0;
      a {
        color: #3e444a;
        &.nuxt-link-exact-active {
          font-weight: 500;
          color: #000000;
        }
      }
    }
  }
}

.catalog_main_top {
  background: #F5F5F5;
  position: relative;
  margin-bottom: 50px;
  .catalog_text {
    padding: 40px 60px;
    p{
      &:nth-child(2) {
        font-size: 24px;
        margin-bottom: 30px;
      }
      &:nth-child(3) {
        font-size: 18px;
      }
    }
  }
  img {
    right: 30%;
    position: absolute;
    width: 120%;
    height: 100%;
    //object-fit: cover;
  }

}
.range_price {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 20px 0;
  p {
    margin-bottom: 0;
    font-size: 18px;
    font-weight: 500;
  }
}
.checks {

}
