.other_categories {
  background: #F0F0F0;
  padding: 40px 0;
  .other_categories_content {
    background: #ffffff;
    .border_color{
    }
    .categories_card {
      padding: 20px 15px;
      .category_name {
        p {
          font-size: 16px;
          color: #000000;
          font-weight: 500;
        }
      }
      .categories_img {
        img {
          width: 100%;
        }
      }
      .category_title {
        font-size: 14px;
        p {
          font-weight: 300;
          margin-bottom: 0;
        }
      }
      .watch_now {
        font-size: 14px;
        display: flex;
        justify-content: flex-end;
        align-items: center;
        margin-top: 20px;
        cursor: pointer;
        p {
          font-weight: 700;
          margin-bottom: 0;
          margin-right: 10px;
        }
        .arrow {
          width: 12px;
          height: 12px;
          border-radius: 50px;
          background: #58357B;
          display: flex;
          justify-content: center;
          align-items: center;

        }
        img {
          transform: rotate(-90deg);
          object-fit: cover;
        }
      }
    }
  }
}
