.slider-dot {
  background: #59367C !important;
}
.slider-dot::before {
  position: absolute;
  top: 20%;
  left: 20%;
  content: "";
  width: 15px !important;
  height: 15px !important;
  display: block;
  border-radius: 50%;
  background: #ffffff;
}
.slider-tooltip-wrap, .slider-tooltip-top {
  display: none !important;
  visibility: hidden !important;
}
