.dropdown {
  position: relative;
  .select {
    width: 100%;
    border: 1px solid #757575;
    padding: 10px 8px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
    .select_text {
      margin: 0;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }
  .options {
    position: absolute;
    width: 100%;
    z-index: 10000;
    background: #ffffff;
    box-shadow: 1px 4px 4px rgb(0,0,0,0.2);
    border-radius: 5px;
    .option {
      cursor: pointer;
      font-size: 15px;
      padding: 8px;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      &:hover {
        background: #eaeaea;
      }
    }
  }
}

