.slider_slick {
  margin: 40px 0;
}
.card_carousel {
  .product_card {
    margin: 0 20px;
  }
}

.product_card {
  border: 1px solid #878787;
  border-radius: 5px;
  padding: 20px;
  &:hover {
    opacity: 1;
  }
  .product_title {
    margin-bottom: 10px;
    p {
      color: #586DCD;
      font-size: 14px;
      font-weight: 500;
      height: 50px;
      overflow: hidden;
    }
  }
  .card_header {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .main_img {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
  }
  .product_card_bottom {
    display: flex;
    align-items: center;
    justify-content: space-between;
    p {
      margin-bottom: 0;
      color: #000000;
      font-weight: 500;
      font-size: 18px;
    }
  }
}

.slider_component.slick-slider {
  margin: 0 -20px;
}

.slider_top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  margin: 30px 0;
  p {
    margin-bottom: 0;
  }
  .carousel_arrows {
    border: 1px solid #C4C4C4;
    padding: 15px;
    border-radius: 50px;
    position: relative;
    background: #ffffff;
    button {
      border: transparent;
      background: transparent;
      margin: 0 5px;
    }
  }
  &:before {
    content: "";
    position: absolute;
    right: 0;
    width: 75%;
    height: 1px;
    background: #C4C4C4;
  }
}
.company_name p {
  color: #000000;
  font-size: 14px;
  font-weight: 500;
  margin-bottom: 0;
}
@media screen and (max-width: 1024px) {
  .product_card {
    margin: 0 10px;
  }
  .slider_component.slick-slider {
    margin: 0 -9px !important;
  }
}
