.tab_bar {
  p {
    margin-bottom: 0;
  }
  .view_action {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 4px;
    svg {
      cursor: pointer;
    }
  }

  .tab_bar_filter_item {
    display: flex;
    justify-content: flex-end;
    .sort_action {
      margin: 0 10px;
      border: transparent;
      outline: none;
      color: #666666;
      font-weight: 500;
    }
  }
}
.tab_bar_text {
  color: #757575;
  p {
    font-weight: 500;
    margin-bottom: 0;
  }
}
.activeTab{
  filter: invert(48%) sepia(16%) saturate(2282%) hue-rotate(192deg) brightness(86%) contrast(85%);
}

@media screen and (max-width: 576px){
  .view_action {
    justify-content: space-around !important;
  }
  .tab_bar_text {
    text-align: center;
  }
  .tab_bar_filter_item {
    justify-content: space-between !important;
  }
  .m_margin {
    margin: 10px 0;
  }
}
