header {
  .header {
    padding: 20px 0 30px;
    background: linear-gradient(90deg, #58357b 0%, #586dcd 100%);
    .header_top {
      display: flex;
      align-items: center;
      margin-bottom: 40px;
      span, p {
        font-weight: 500;
        font-size: 14px;
      }
      .social_networks {
        img {
          margin-right: 20px;
          cursor: pointer;
        }
      }
      .contact {
        display: flex;
        align-items: center;
        margin-left: 10%;
        color: #ffffff;
        .city {
          margin-right: 30px;
          select {
            outline: none;
            border: transparent;
            background: transparent;
            color: white;
            cursor: pointer;
            margin: 0 10px;
            option {
              color: #000;
            }
          }
        }
        .phone {
          a {
            color: #ffffff;
          }
        }
      }
      .top_actions {
        margin-left: auto;
        display: flex;
        align-items: center;
        color: #ffffff;
        .my_account {
          margin-right: 20px;
          padding-right: 20px;
          border-right: 2px solid #ffffff;
          a {
            color: #ffffff;
            font-size: 14px;
            font-weight: 500;
          }
          img {
            margin-right: 5px;
          }
        }
        .lang {
          cursor: pointer;
          span {
            margin-left: 10px;
          }
        }
      }
    }
    .top_actions {
      a, span {
        color: #ffffff;
      }
    }
    .header_center {
      display: flex;
      justify-content: space-between;
      align-items: center;
      .logo {
        margin-left: 40px;
      }
      .search {
        max-width: 550px;
        width: 100%;
        position: relative;
      }
      form {
        display: flex;
        width: 100%;
        input {
          border: transparent;
          border-radius: 5px;
          padding: 18px 12px;
          width: 100%;
          outline: transparent;
        }
        button {
          border: transparent;
          background: #000000;
          padding: 18px 24px;
          border-radius: 5px;
          margin-left: -10px;
          &:hover {
            background: #242424;
          }
        }
      }
      .center_actions {
        display: flex;
        align-items: center;
        text-align: center;
        .like {
          margin: 0 20px;
          cursor: pointer;
          position: relative;
          .fav_length {
            position: absolute;
            top: -10px;
            right: 10px;
            background: #ffffff;
            color: #3e444a;
            width: 20px;
            height: 20px;
            font-weight: 600;
            font-size: 14px;
            display: flex;
            justify-content: center;
            align-items: center;
            border-radius: 20px;
          }
        }
        .basket {
          cursor: pointer;
          position: relative;
          .cart_length {
            background: #ffffff;
            color: #3e444a;
            display: flex;
            align-items: center;
            justify-content: center;
            width: 20px;
            height: 20px;
            border-radius: 20px;
            font-size: 14px;
            font-weight: 600;
            position: absolute;
            top: -10px;
            right: 0;
          }
        }
        p{
          font-weight: 500;
          font-size: 14px;
        }
        a{
          color: #ffffff;
        }
      }
    }
  }
  .mobile_header {
    position: relative;
    .mobile_header_top {
      display: flex;
      justify-content: space-between;
      .social_networks {
        img {
          margin-right: 15px;
        }
      }
      .top_actions {
        display: flex;
        .lang {
          margin-left: 20px;
        }
      }
    }
    .mobile_header_center {
      margin: 20px 0;
      .contact {
        display: flex;
        justify-content: space-between;
        color: #ffffff;
        padding: 10px 0;
        border-bottom: 1px solid #ffffff;
      }
    }
    .mobile_navbar{
      display: flex;
      justify-content: space-between;
      .col_6 {
        display: flex;
        align-items: center;
        justify-content: space-between;
      }
    }
  }
}

nav {
  padding: 20px 0;
  box-shadow: 0 1px 15px rgba(0, 0, 0, 0.3);
  background: #ffffff;
  .links ul{
    margin-bottom: 0;
    display: flex;
    align-items: center;
    list-style-type: none;
    li {
      margin-right: auto;
      a {
        width: 100%;
        color: #000000;
        font-weight: 500;
      }
      span {
        color: #000000;
        font-weight: 500;
        margin-right: 10px;
      }
    }
  }
}
.language {
  position: relative;
}
.nav_category {
  position: relative;
}

.mob_nav-enter, .mob_nav-leave-to {
  transform: translateX(-100%);
}
.mob_nav-enter-active, .mob_nav-leave-active {
  transition: all 0.5s ease;
}
.mobile_search_wrapper {
  position: fixed;
  z-index: 100;
  width: 90%;
  right: 0;
  max-width: 550px;
  left: 0;
  top: 10%;
  margin: 0 auto;
  button {
    position: absolute;
    right: 0;
    border-bottom-left-radius: 0 !important;
    border-top-left-radius: 0 !important;
  }
}
@media screen and (max-width: 1024px) {
  nav {
    .links ul {
      justify-content: space-between;
      li {
        margin-right: 0;
      }
    }
  }
}
@media screen and (max-width: 768px){
  .w_mob {
    width: 25%;
  }
  .w_mob_logo {
    width: 20%;
  }
}
@media screen and (max-width: 576px){
  .w_mob {
    width: 40%;
  }
  .w_mob_logo {
    width: 35%;
  }
}
