.mobile_nav {
  background: #ffffff;
  position: absolute;
  z-index: 10;
  width: 100%;
  height: 100vh;
  overflow-y: scroll;
  .catalog_title {
    display: flex;
    justify-content: space-between;
    padding: 10px 0 5px 30px;
  }
  .category_over {
    max-height: 100px;
    overflow-y: scroll;
  }
  .sub_category {
    margin-left: 60px;
    a {
      display: block;
      padding: 5px 0;
    }
  }
  .nav_links {
    height: 70%;
    overflow-y: scroll;
    padding: 10px 20px 0;
    .drop_down {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
    ul {
      list-style-type: none;
      li {
        margin: 20px 0;
        a {
          font-size: 14px;
          font-weight: 500;
          color: #000000;
          &.nuxt-link-active {
            color: #58357B;
          }
        }
        span {
          font-size: 14px;
          font-weight: 500;
          color: #000000;
        }
      }
    }
  }
}
