.brands_content {
  .brand_item {
    background: #EEEEEE;
    display: flex;
    align-items: center;
    padding: 10px 10px 20px;
    margin: 10px 0;
    p {
      margin-left: 40px;
      margin-bottom: 0;
      color: #000000;
      font-weight: 500;
    }
    img {
      width: 50%;
      height: 100px;
      min-height: 100px;
      object-fit: contain;
    }
  }
}
