.checkout_content {
  .contacts_form {
    .inputs {
      .custom_span {
        text-align: left;
        &::before {
          padding-left: 0;
        }
      }
      button {
        text-align: left;
        border-radius: 4px;
      }
      .input_title {
        margin: 20px 0;
        p {
          font-size: 24px;
          color: #3E444A;
        }
      }
      .i_title {
        p {
          color: #3E444A;
        }
      }
    }
    .vue-picker {
      width: 100%;
      .vue-picker__dropdown {
        padding: 0;
      }
    }
    .home_address {
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin: 20px 0;
      input {
        margin: 0 15px;
      }
    }
    .card_footer {
      text-align: right;
      margin: 30px 0;
    }
  }
  .address_card {
    .ordering_card {
      margin: 20px 0;
      .row {
        display: flex;
        align-items: center;
      }
    }
    img {
      width: 100%;
    }
    p {
      font-size: 14px;
      color: #343434;
      margin-bottom: 0;
    }
    .item_amount {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      p {
        font-weight: 500;
        color: #000;
        margin: 10px 0;
      }
    }
  }
}
.vs__selected {
  white-space: nowrap;
  width: 135px;
  text-overflow: ellipsis;
  overflow: hidden;
}
