.address_card {
  border: 1px solid #757575;
  padding: 20px 20px 30px;
  border-radius: 5px;
}
.contacts_form {
  .contacts_title {
    font-size: 18px;
    color: #303030;
    border-bottom: 1px solid #757575;
    margin: 20px 0;
    p {
      margin-bottom: 10px;
    }
  }
  .inputs {
    margin: 20px 0;
    .custom_span {
      font-size: 14px;
      color: #757575;
      &::before {
        content: "";
        padding-left: 18px;
      }
    }
    .custom_input {
      width: 100%;
      padding: 10px 15px;
      border-radius: 5px;
      border: 1px solid #757575;
      outline: transparent;
    }
    textarea {
      width: 100%;
      padding: 10px 15px;
      outline: none;
      height: 100px;
      border-radius: 5px;
    }
  }
  .contacts_action {
    text-align: right;
  }
}
.necessarily {
  &::before {
    content: "*" !important;
    padding: 0 !important;
    font-size: 18px;
    padding-right: 10px !important;
    color: #FF0000;
  }
}

.t_a_r {
  text-align: right;
}

@media screen and (max-width: 768px){
  .contact_info {
    margin-top: 20px;
  }
}

@media screen and (max-width: 576px){
  .custom_input {
    margin: 10px 0;
  }
  .v-select {
    margin: 10px 0;
  }
  .update {
    .inputs {
      p {
        margin-bottom: 0;
      }
    }
    .custom_input {
      margin: 0;
    }
  }
}
